.navbar-brand{
  position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    background-color: green;
    color: white;
    margin: 0;
}
.results {
  display: grid;
  column-gap: 14px;
  row-gap: 14px;
  grid-template-columns: repeat(auto-fill, minmax(400px, 400px));
  margin-top: 50px;
  justify-content: space-around;
}

button {
  padding: 10px;
  border: solid 1px var(--primary-color);
  background: var(--primary-color);
  color: white;
  border-radius: 8px;
}
/* Header styles */
header {
  
}

/* Navigation styles */
nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
}

/* Login and Signup button styles */
.buttons a {
  display: inline-block;
  padding: 10px 20px;
  color: #fff;
  text-decoration: none;
  margin: 10px;
  border-radius: 5px;
}

.buttons a:hover {
  background-color: #0056b3;
}

/* Menu styles */
.menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  margin-bottom: 10px;
}

.menu ul li a {
  text-decoration: none;
  color: #333;
}

.menu ul li a:hover {
  color: #0074D9;
}
